@import "../variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background: transparent;

    .menu {
      grid-area: menu;
      display: flex;
      justify-content: center;
      position: relative;

      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        z-index: 9999;

        li {
          position: relative;

          a {
            text-decoration: none;
            color: $color-primary-text; // Text
            font-weight: bold;
            font-size: 1.5em;

            &:hover {
              color: $color-primary-variant; // Primary Variant
            }
          }

          ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $color-secondary-variant; // Secondary Variant
            padding: 10px;
            flex-direction: column;
            gap: 10px;
            border-radius: 5px;

            li a {
              color: $color-secondary-variant-text; // Text

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &:hover ul {
            display: flex;
          }
        }
      }
    }
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/fondos/fondomiraidon.jpg);
    background-position: center;
    background-size: cover;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-image: url(./imagenes/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 100px 0;
    align-items: center;

    img{
        margin-bottom: 4em;
    }
    a {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        background: transparent;
        margin-top: 20px;
    }
    h2 {
        font-size: 3.5em;
        text-align: center;
        color: #fff;
        background: transparent;
    }
    h3 {
        font-size: 2em;
        text-align: center;
        color: #fff;
        background: transparent;
    }
    p {
        margin-top: 20px;
        font-size: 1em;
        text-align: center;
        color: #fff;
        background: transparent;
    }
    .icon {
        display: flex;
        justify-content: center;
        background: transparent;
        i {
            margin-left: 20px;
            color: #fff;
        }
    }
}

.login {
    width: 450px;
    position: relative;
    padding: 150px 30px;
    backdrop-filter: blur(20px); /*HACER DIFUMINADO*/

    h2 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }
    .input {
        position: relative;
        width: 100%;
        height: 30px;
        margin-bottom: 40px;
        .input1 {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid #fff;
            color: #fff;
            width: 100%;
            height: 100%;
        }
        i {
            position: relative;
            right: -370px;
            bottom: 27px;
            color: #fff;
        }
    }
    .button {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
    }
    .sign-up {
        display: flex;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            color: #fff;
        }
    }
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #fff;
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}

button {
    width: 100%;
    height: 40px;
    background-color: crimson;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
    &:active {
        font-size: 25px;
    }
}
