// Colores principales y sus textos
$color-primary: #304F84; 
$color-primary-text: #ffffff;

// Variante primaria
$color-primary-variant: #63999F; 
$color-primary-variant-text: #ffffff;

// Colores secundarios y sus textos
$color-secondary: #1A253D; 
$color-secondary-text: #ffffff;

// Variante secundaria
$color-secondary-variant: #694E8D; 
$color-secondary-variant-text: #ffffff;

// Fondo de layout principal
$color-layout: #58446D; 
$color-layout-text: #ffffff;

// Fondo de cards y contenedores
$color-card: #EDBBCD; 
$color-card-text: #000000;

// Color de error
$color-error: #B00020; 
$color-error-text: #ffffff;
